<h1 class="shadow-lg p-3 mb-5 bg-white rounded">みんなの投稿画像</h1>

<% notice %>

<div class="col-12">
  <p class="btn btn-success"><%= link_to '新しい画像を投稿する', new_picture_path %></p>
</div>

<div class="row">
  <% @pictures.each do |picture| %>
<div class="col-mb-4">
  <%= link_to (image_tag picture.image.url.to_s.encode(Encoding::UTF_8), size: '250x250'), picture %>
</div>
<% end %>
</div>